.error {
  margin-top: 22px;
  text-align: center;
  font-size: 18px;
  color: red;
}

.container {
  padding: 0 16px;
}

.breed-select {
  margin: 20px auto 0;
  width: 500px;
  max-width: 80%;
  font-style: italic;
  font-weight: 700;
}

.cat-info {
  display: flex;
  gap: 24px;
  margin: 40px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.cat-info img {
  max-width: 100%;
  width: 640px;

  border: 2px solid #212121;
  border-radius: 4px;
}

.cat-info-wrap {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
}

.cat-info h2 {
  font-size: 28px;
}

.cat-info span {
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

.hidden {
  display: none;
}
